In [102]:
!pip install simplekml

Requirement already satisfied (use --upgrade to upgrade): simplekml in /anaconda/lib/python2.7/site-packages

In [103]:
import simplekml
import pandas
import numpy

In [104]:
kml=simplekml.Kml()

In [105]:
kml.newpoint(name="Sample",coords=[(174.76028, -36.80417)])

In [106]:
kml.newpoint(name="Sample",coords=[(174.76041, -36.80389)])

In [107]:
kml.save("points.kml")

In [108]:
def kml(input="Northern Motorway Road Segments Modified.csv",out="Locations.kml"):
    kml=simplekml.Kml()
    df=pandas.read_csv(input,index_col=["id","full_name","Longitute","Latitute"])
    for id,lon,lat in zip(df.index.get_level_values("full_name"),df.index.get_level_values("Longitute"),
                            df.index.get_level_values("Latitute")):
        kml.newpoint(name=id,coords=[(lon,lat)])
        kml.save(out)

In [109]:
kml()

In [110]:
from IPython.display import IFrame

In [111]:
def show_web_map(url):       
    return IFrame(url, width='100%', height=500)

In [112]:
show_web_map("https://www.google.com/maps/d/u/0/embed?mid=1Un-dH9_Om41HuJu3zgDNWAeLyxc")

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
from pylab import rcParams #this module gives us some controls over plot rendering attributes
rcParams['figure.figsize'] = 15, 10

In [17]:
#this line enables the plots to be embedded into the notebook
%matplotlib inline

In [18]:
ts_data = pd.read_csv('Concatenated_machine_data.csv')
ts_data.head()

,id,event_timestamp,course_over_ground,machine_id,vehicle_weight_type,speed_gps_kph,latitude,longitude
0,14641931007,15/11/15 17:46,177,10051,HEAVY,3,-36.725578,174.714820
1,14642568129,15/11/15 18:12,156,10051,HEAVY,13,-36.769465,174.741590
2,14641876524,15/11/15 17:44,169,10051,HEAVY,0,-36.723136,174.714432
3,14642262476,15/11/15 18:00,150,10051,HEAVY,17,-36.747435,174.723397
4,14641991113,15/11/15 17:49,249,10051,HEAVY,6,-36.728260,174.715083

In [19]:
ts_data.tail()

,id,event_timestamp,course_over_ground,machine_id,vehicle_weight_type,speed_gps_kph,latitude,longitude
569936,14738615911,18/11/15 22:24,142,9850,HEAVY,67,-36.759989,174.736392
569937,14707715840,17/11/15 21:58,209,9850,HEAVY,74,-36.814565,174.751611
569938,14691746432,17/11/15 05:19,28,9850,HEAVY,60,-36.829255,174.746502
569939,14658983495,16/11/15 02:53,332,9850,HEAVY,86,-36.734384,174.717181
569940,14674771261,16/11/15 20:18,164,9850,HEAVY,77,-36.721270,174.713889

In [28]:
ts_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569941 entries, 0 to 569940
Data columns (total 8 columns):
id                     569941 non-null int64
event_timestamp        569941 non-null object
course_over_ground     569941 non-null int64
machine_id             569941 non-null int64
vehicle_weight_type    569578 non-null object
speed_gps_kph          569941 non-null int64
latitude               569941 non-null float64
longitude              569941 non-null float64
dtypes: float64(2), int64(4), object(2)
memory usage: 34.8+ MB

In [31]:
ts_data['event_timestamp'] = pd.to_datetime(ts_data['event_timestamp'], format='%d/%m/%y %H:%M').dt.date
ts_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569941 entries, 0 to 569940
Data columns (total 8 columns):
id                     569941 non-null int64
event_timestamp        569941 non-null object
course_over_ground     569941 non-null int64
machine_id             569941 non-null int64
vehicle_weight_type    569578 non-null object
speed_gps_kph          569941 non-null int64
latitude               569941 non-null float64
longitude              569941 non-null float64
dtypes: float64(2), int64(4), object(2)
memory usage: 34.8+ MB

In [32]:
print ts_data.info()
ts_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569941 entries, 0 to 569940
Data columns (total 8 columns):
id                     569941 non-null int64
event_timestamp        569941 non-null object
course_over_ground     569941 non-null int64
machine_id             569941 non-null int64
vehicle_weight_type    569578 non-null object
speed_gps_kph          569941 non-null int64
latitude               569941 non-null float64
longitude              569941 non-null float64
dtypes: float64(2), int64(4), object(2)
memory usage: 34.8+ MB
None

,id,event_timestamp,course_over_ground,machine_id,vehicle_weight_type,speed_gps_kph,latitude,longitude
0,14641931007,2015-11-15,177,10051,HEAVY,3,-36.725578,174.714820
1,14642568129,2015-11-15,156,10051,HEAVY,13,-36.769465,174.741590
2,14641876524,2015-11-15,169,10051,HEAVY,0,-36.723136,174.714432
3,14642262476,2015-11-15,150,10051,HEAVY,17,-36.747435,174.723397
4,14641991113,2015-11-15,249,10051,HEAVY,6,-36.728260,174.715083

In [128]:
ts_data['event_timestamp'].replace('20105-11-15','Sunday',inplace=True)

In [130]:
ts_data['event_timestamp'].replace(ts_data['event_timestamp'][569912],'Monday',inplace=True)

In [132]:
ts_data['event_timestamp'].replace(ts_data['event_timestamp'][569932],'Tuesday',inplace=True)

In [134]:
ts_data['event_timestamp'].replace(ts_data['event_timestamp'][569916],'Wednesday',inplace=True)

In [136]:
ts_data['event_timestamp'].replace(ts_data['event_timestamp'][569919],'Thursday',inplace=True)

In [143]:
ts_data['event_timestamp'].replace(ts_data['event_timestamp'][9991],'Friday',inplace=True)

In [144]:
ts_data

,id,event_timestamp,course_over_ground,machine_id,vehicle_weight_type,speed_gps_kph,latitude,longitude
0,14641931007,Sunday,177,10051,HEAVY,3,-36.725578,174.714820
1,14642568129,Sunday,156,10051,HEAVY,13,-36.769465,174.741590
2,14641876524,Sunday,169,10051,HEAVY,0,-36.723136,174.714432
3,14642262476,Sunday,150,10051,HEAVY,17,-36.747435,174.723397
4,14641991113,Sunday,249,10051,HEAVY,6,-36.728260,174.715083
5,14642335573,Sunday,142,10051,HEAVY,6,-36.751770,174.726995
6,14641971160,Sunday,168,10051,HEAVY,0,-36.727312,174.714987
7,14641876526,Sunday,169,10051,HEAVY,5,-36.723136,174.714433
8,14642239039,Sunday,150,10051,HEAVY,14,-36.745493,174.722023
9,14642407960,Sunday,135,10051,HEAVY,25,-36.755283,174.730797
10,14641876528,Sunday,168,10051,HEAVY,0,-36.723351,174.714491
11,14642129752,Sunday,154,10051,HEAVY,14,-36.734850,174.717560
12,14642434790,Sunday,137,10051,HEAVY,0,-36.757741,174.733792
13,14643011059,Sunday,191,10051,HEAVY,76,-36.817540,174.750526
14,14642976006,Sunday,209,10051,HEAVY,48,-36.806104,174.759209
15,14641799774,Sunday,171,10051,HEAVY,0,-36.718553,174.713503
16,14641861569,Sunday,172,10051,HEAVY,25,-36.720747,174.713897
17,14642377661,Sunday,137,10051,HEAVY,5,-36.753691,174.728945
18,14641991110,Sunday,170,10051,HEAVY,0,-36.728252,174.715084
19,14642787763,Sunday,153,10051,HEAVY,20,-36.787389,174.752337
20,14642287177,Sunday,146,10051,HEAVY,16,-36.749369,174.724865
21,14642976010,Sunday,216,10051,HEAVY,51,-36.807940,174.757603
22,14642539822,Sunday,162,10051,HEAVY,36,-36.765195,174.739728
23,14643011056,Sunday,197,10051,HEAVY,66,-36.815369,174.751177
24,14642095864,Sunday,156,10051,HEAVY,5,-36.732872,174.716349
25,14642926181,Sunday,158,10051,HEAVY,24,-36.798597,174.761073
26,14642904887,Sunday,142,10051,HEAVY,25,-36.796675,174.759609
27,14643032055,Sunday,172,10051,HEAVY,84,-36.822124,174.750251
28,14642601861,Sunday,157,10051,HEAVY,0,-36.772897,174.743382
29,14642539823,Sunday,161,10051,HEAVY,29,-36.767364,174.740569
...,...,...,...,...,...,...,...,...
569911,14707647546,Tuesday,144,9850,HEAVY,85,-36.797307,174.760265
569912,14675182010,Monday,152,9850,HEAVY,0,-36.789936,174.753952
569913,14707689998,Tuesday,207,9850,HEAVY,56,-36.805146,174.759858
569914,14691776799,Tuesday,36,9850,HEAVY,85,-36.809548,174.755883
569915,14675393629,Monday,207,9850,HEAVY,70,-36.825840,174.748880
569916,14738512275,Wednesday,170,9850,HEAVY,80,-36.729894,174.715307
569917,14718691796,Wednesday,316,9850,HEAVY,55,-36.758754,174.734725
569918,14738532002,Wednesday,158,9850,HEAVY,92,-36.736386,174.718436
569919,14742548991,Thursday,28,9850,HEAVY,67,-36.827103,174.747932
569920,14742568289,Thursday,346,9850,HEAVY,70,-36.821180,174.750017
569921,14707715835,Tuesday,217,9850,HEAVY,79,-36.812631,174.753200
569922,14742772320,Thursday,317,9850,HEAVY,90,-36.759028,174.735054
569923,14707528501,Tuesday,162,9850,HEAVY,46,-36.766878,174.740362
569924,14674992725,Monday,163,9850,HEAVY,50,-36.766380,174.740173
569925,14658715066,Monday,1,9850,HEAVY,88,-36.800624,174.761378
569926,14742851893,Thursday,342,9850,HEAVY,87,-36.737477,174.718722
569927,14742851899,Thursday,335,9850,HEAVY,86,-36.735251,174.717652
569928,14752730744,Thursday,207,9850,HEAVY,68,-36.825485,174.749171
569929,14691866193,Tuesday,331,9850,HEAVY,84,-36.745535,174.721928
569930,14691892381,Tuesday,350,9850,HEAVY,89,-36.723531,174.714374
569931,14738512279,Wednesday,160,9850,HEAVY,85,-36.732085,174.716015
569932,14707367136,Tuesday,150,9850,HEAVY,65,-36.747195,174.723251
569933,14675105801,Monday,153,9850,HEAVY,29,-36.779173,174.747189
569934,14718438981,Wednesday,2,9850,HEAVY,74,-36.822876,174.750335
569935,14707254320,Tuesday,175,9850,HEAVY,65,-36.728149,174.715066
569936,14738615911,Wednesday,142,9850,HEAVY,67,-36.759989,174.736392
569937,14707715840,Tuesday,209,9850,HEAVY,74,-36.814565,174.751611
569938,14691746432,Tuesday,28,9850,HEAVY,60,-36.829255,174.746502
569939,14658983495,Monday,332,9850,HEAVY,86,-36.734384,174.717181
569940,14674771261,Monday,164,9850,HEAVY,77,-36.721270,174.713889