In [1]:
!pip install simplekml

Requirement already satisfied (use --upgrade to upgrade): simplekml in /anaconda/lib/python2.7/site-packages

In [2]:
import simplekml
import pandas
import numpy

In [3]:
kml=simplekml.Kml()

In [4]:
kml.newpoint(name="Sample",coords=[(174.76028, -36.80417)])

In [5]:
kml.newpoint(name="Sample",coords=[(174.76041, -36.80389)])

In [6]:
kml.save("points.kml")

In [7]:
def kml(input="Northern Motorway Road Segments Modified.csv",out="Locations.kml"):
    kml=simplekml.Kml()
    df=pandas.read_csv(input,index_col=["id","full_name","Longitute","Latitute"])
    for id,lon,lat in zip(df.index.get_level_values("full_name"),df.index.get_level_values("Longitute"),
                            df.index.get_level_values("Latitute")):
        kml.newpoint(name=id,coords=[(lon,lat)])
        kml.save(out)

In [8]:
kml()

In [9]:
from IPython.display import IFrame

In [10]:
def show_web_map(url):       
    return IFrame(url, width='100%', height=500)

In [13]:
show_web_map("https://www.google.com/maps/d/u/0/embed?mid=1Un-dH9_Om41HuJu3zgDNWAeLyxc")

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from pylab import rcParams #this module gives us some controls over plot rendering attributes
rcParams['figure.figsize'] = 15, 10

In [3]:
#this line enables the plots to be embedded into the notebook
%matplotlib inline

In [4]:
ts_data = pd.read_csv('Concatenated_machine_data.csv')
ts_data.head()

,id,event_timestamp,course_over_ground,machine_id,vehicle_weight_type,speed_gps_kph,latitude,longitude
0,14641931007,15/11/15 17:46,177,10051,HEAVY,3,-36.725578,174.714820
1,14642568129,15/11/15 18:12,156,10051,HEAVY,13,-36.769465,174.741590
2,14641876524,15/11/15 17:44,169,10051,HEAVY,0,-36.723136,174.714432
3,14642262476,15/11/15 18:00,150,10051,HEAVY,17,-36.747435,174.723397
4,14641991113,15/11/15 17:49,249,10051,HEAVY,6,-36.728260,174.715083

In [5]:
ts_data.tail()

,id,event_timestamp,course_over_ground,machine_id,vehicle_weight_type,speed_gps_kph,latitude,longitude
569936,14738615911,18/11/15 22:24,142,9850,HEAVY,67,-36.759989,174.736392
569937,14707715840,17/11/15 21:58,209,9850,HEAVY,74,-36.814565,174.751611
569938,14691746432,17/11/15 05:19,28,9850,HEAVY,60,-36.829255,174.746502
569939,14658983495,16/11/15 02:53,332,9850,HEAVY,86,-36.734384,174.717181
569940,14674771261,16/11/15 20:18,164,9850,HEAVY,77,-36.721270,174.713889

In [18]:
ts_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569941 entries, 0 to 569940
Data columns (total 8 columns):
id                     569941 non-null int64
event_timestamp        569941 non-null datetime64[ns]
course_over_ground     569941 non-null int64
machine_id             569941 non-null int64
vehicle_weight_type    569578 non-null object
speed_gps_kph          569941 non-null int64
latitude               569941 non-null float64
longitude              569941 non-null float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(1)
memory usage: 34.8+ MB

In [39]:
ts_data['event_timestamp'] = pd.to_datetime(ts_data['event_timestamp'], format='%d/%m/%y').dt.date
ts_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569941 entries, 0 to 569940
Data columns (total 8 columns):
id                     569941 non-null int64
event_timestamp        569941 non-null object
course_over_ground     569941 non-null int64
machine_id             569941 non-null int64
vehicle_weight_type    569578 non-null object
speed_gps_kph          569941 non-null int64
latitude               569941 non-null float64
longitude              569941 non-null float64
dtypes: float64(2), int64(4), object(2)
memory usage: 34.8+ MB

In [40]:
print ts_data.info()
ts_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569941 entries, 0 to 569940
Data columns (total 8 columns):
id                     569941 non-null int64
event_timestamp        569941 non-null object
course_over_ground     569941 non-null int64
machine_id             569941 non-null int64
vehicle_weight_type    569578 non-null object
speed_gps_kph          569941 non-null int64
latitude               569941 non-null float64
longitude              569941 non-null float64
dtypes: float64(2), int64(4), object(2)
memory usage: 34.8+ MB
None

,id,event_timestamp,course_over_ground,machine_id,vehicle_weight_type,speed_gps_kph,latitude,longitude
0,14641931007,2015-11-15,177,10051,HEAVY,3,-36.725578,174.714820
1,14642568129,2015-11-15,156,10051,HEAVY,13,-36.769465,174.741590
2,14641876524,2015-11-15,169,10051,HEAVY,0,-36.723136,174.714432
3,14642262476,2015-11-15,150,10051,HEAVY,17,-36.747435,174.723397
4,14641991113,2015-11-15,249,10051,HEAVY,6,-36.728260,174.715083